input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--accent);
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.2s;
}


input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--dark);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px var(--black-shadow);
  transition: background 0.3s ease;
}


input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
  filter: brightness(1.1);
}


input[type="range"]:hover {
  opacity: 1;
}

