/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
  min-width: 15em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--accent);
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--background);
  width: 100%;
  max-width: 100em;
  margin: 0;
  padding: 1em;
}
