/* variables setub */
:root {
    /* dark mode */
    --background: #49656e;
    --dark: #994242;
    --light: #c2a57f;
    --accent: #aac5e2;
    --white: #effaff;
    --black: #170000;
}


html {
    min-height: 100%;
    min-width: 15em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--accent);
    display: flex;
    justify-content: center;
}

body {
    background-color: var(--background);
    width: 100%;
    max-width: 100em;
    margin: 0;
    display: grid;
    grid-template-areas:
        "controller"
        "playlist"
        "footer";
    grid-template-rows: 3fr 7fr 2em;
    grid-template-columns: 1fr;
}

/* main content */
#simulator {
    grid-area: controller;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2em 2em 0 2em;
    overflow: hidden;
}

#playlist {    
    grid-area: playlist;
    margin: 2em;
}

/* direction ring */
#direction {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    transform: rotate(0deg);
}

#direction_ring {
    fill: var(--light);
    stroke-width: 3%;
    stroke: var(--accent);
}

#direction_pointer {
    fill: var(--dark);

}

footer {
    grid-area: footer;
    background-color: var(--light);
    color: var(--dark);
    width: 100%;
    max-width: 100em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5em 1em;
}